include includes/head
include includes/header
include includes/content
include includes/footer
include includes/scripts
include includes/timer
include includes/annotation
include includes/partners
include includes/map
include includes/overlay
include includes/popup
include includes/popupText
include includes/mixins

doctype html
html(lang="en")
   head
      +head()

   body
      main
         +overlay()
         +popupText()
         +popup()

         include blocks/svg.html

         +header()

         +content()

         #form
            +timer()

         +annotation()

         +timer()

         +partners()

         +map()

      footer

         +footer()

      +scripts()