include includes/head
include includes/header
include includes/content
include includes/footer
include includes/scripts
include includes/timer
include includes/annotation
include includes/partners
include includes/map
include includes/mixins

doctype html
html(lang="en")
   head
      +head()

   main
      include blocks/svg.html
      +header()

      +content()

      +timer()

      +annotation()

      +timer()

      +partners()

      +map()

   footer

      +footer()

   +scripts()