include cert
include reviews

mixin annotation()
      .container
         .annotation
            .row
               .col-xs-5.annotation__img
                  img(src="../img/akulinchev.png")
               .col-xs-7.annotation__text
                  img(src="../img/logo-text.png")
                  p.title  Акулинчев Александр Юрьевич
                  p.subtitle  Бизнес-тренер, НЛП-тренер, коуч в сфере переговоров и личностного роста, руководитель крупного системного структурного бизнеса.
                     |  Президент консультационно-тренинговой компании «Альянс Успешных Предпринимателей  «Golden Leader»
                  ul
                    li  Провёл около 500 открытых и корпоративных тренингов
                    li  Организатор ежегодной Международной Лидерской Конференции «Твой путь к успеху»;
                    li  Создатель первой обучающей сертификационной программы «MLM-practice»,
                    li  Ведущий спикер на постоянной основе Всероссийского образовательного проекта «День тренингов» c 2014 года и по сей день.
                    li  Опыт профессиональной деятельности продажах 17 лет;
                    li  Победитель в номинациях: «Самый молодой и активный партнёр MLM компании», «Лучший наставник года», «Самый динамичный бизнес в Черноземье»;
                    li  Обладатель наград: «Взлёт года», «Хрустальная жемчужина», «Хрустальный лотос»;
                    li  Аккредитованный бизнес–тренер международной категории, имеющий опыт работы в Американских, Европейских и Российских компаниях системного структурного бизнеса.

         +cert()
         +reviews()