mixin cert()
   .cert
      p.title  Дипломы и Сертификаты
      .cert__list.js-cert
         .cert__list__item
            a(href="javascript:void(0)")
               img(src="../img/cert.jpg")
         .cert__list__item
            a(href="javascript:void(0)")
               img(src="../img/cert.jpg")
         .cert__list__item
            a(href="javascript:void(0)")
               img(src="../img/cert.jpg")
         .cert__list__item
            a(href="javascript:void(0)")
               img(src="../img/cert.jpg")
         .cert__list__item
            a(href="javascript:void(0)")
               img(src="../img/cert.jpg")
