mixin counter()
   .timer_wrap
      .clock.js-clock

         .day
            span  Дней:
            p.day0
            p.day1

         .sec
            p.sec0
            p.sec1

         .razd :

         .min
            p.min0
            p.min1

         .razd :

         .hour
            p.hour0
            p.hour1