mixin cycle()
   .cycle
      .row
         .col-xs-4.cycle__item.js-cycle-item
            +svg('time')
            span.cycle-number  Цикл 1
            p.duration  2 тренинговых дня 16 астрономических рабочих часов
            p.title.js-cycle-title  «Личностное редактирование и реинжиниринг собственной судьбы»
            a(href="javascript:void(0)").more   Подробнее
            a(href="javascript:void(0)").application  Оставить заявку

         .col-xs-4.cycle__item.js-cycle-item
            +svg('time')
            span.cycle-number  Цикл 2
            p.duration  2 тренинговых дня 16 астрономических рабочих часов
            p.title.js-cycle-title  «Совершенствование Мастерства моего Я»
            a(href="javascript:void(0)").more   Подробнее
            .cycle__item__dop-info
               +svg('danger')
               span  Цикл 1 + Цикл 2
               p  Запись на Цикл 2 возможна только вместе
                  br
                  |  с Циклом 1
            .cycle__item__price
               +svg('money')
               p  3500
                  span  рублей
            a(href="javascript:void(0)").application  Оставить заявку

         .col-xs-4.cycle__item.js-cycle-item
            +svg('time')
            span.cycle-number  Цикл 3
            p.duration 3 тренинговых дня 24 астрономических рабочих часов
            p.title.js-cycle-title  «Власть изменений – могущество моего Я»
            a(href="javascript:void(0)").more   Подробнее
            .cycle__item__dop-info
               +svg('danger')
               span  Цикл 1 + Цикл 2 + Цикл 3
               p  Запись на Цикл 3 возможна только вместе
                  br
                  |  с Циклом 1 и Циклом 2
            .cycle__item__price
               +svg('money')
               p  5000
                  span  рублей
            a(href="javascript:void(0)").application  Оставить заявку