include cycle

mixin differences()
   .differences
      .row
         .col-xs-6.differences__item
            .differences__item__image
               +svg('quotes')
            .differences__item__text
               p.title Основная идея:
               p целостная личность, обретая полную свободу от ограничивающих убеждений и фобий, находя мощные ресурсы, самые эффективные индивидуальные стратегии постановки и достижения целей, способна превратить свою жизнь в настоящий шедевр.
         .col-xs-6.differences__item
            .differences__item__image
               +svg('quotes')
            .differences__item__text
               p.title Уникальность:
               p данная программа является результатом системных исследований, индивидуального консультирования и коучинга в весьма актуальной сфере.  Эти люди вносят живой поток интегральных технологий в современную практическую психологию
               span  (Ф. Пьюселик, Н. Матвеева, В. Зеленин, Ю. Карпенков, Т. Андреас, К. Андреас, Дж. Гриндер, Дж. Делозье, Р. Дилтс и др.).

   +cycle()