mixin footer()
   .container
       .row
           .col-xs-3.pull-left.copyright
                p   Все права защищены © 2016 г.
           .col-xs-4.pull-right
               span Разработка и продвижение сайтов
               a(href="http://www.vedita.ru")
                    +svg('vedita')