mixin partners()
   .container
      .row
         .col-xs-12
            .partners#partners
               p.title  Партнёры семинара
               .partners__list.js-partners
                  .partners__list__item
                     img(src="../img/partner-1.png")
                  .partners__list__item
                     img(src="../img/partner-2.png")
                  .partners__list__item
                     img(src="../img/partner-3.png")
                  .partners__list__item
                     img(src="../img/partner-4.png")
                  .partners__list__item
                     img(src="../img/partner-5.png")
                  .partners__list__item
                     img(src="../img/partner-6.png")
                  .partners__list__item
                     img(src="../img/partner-1.png")
                  .partners__list__item
                     img(src="../img/partner-2.png")
                  .partners__list__item
                     img(src="../img/partner-3.png")
                  .partners__list__item
                     img(src="../img/partner-4.png")
                  .partners__list__item
                     img(src="../img/partner-5.png")
                  .partners__list__item
                     img(src="../img/partner-6.png")
