mixin popupText()
   .popup.popupText.js-popupText
      .one-block.block.block--visible.js-block(data-visible="one-block")
         .popup__top
            +svg('time')
            span  Цикл 1
            .js-close
               +svg('cl')
            a(href="javascript:void(0)").check-in.js-popup-check  Оставить заявку
            .popup__top__price
               +svg('money')
               p  3500
                  span  рублей
         .popup__bottom
            p.title  «Совершенствование Мастерства моего Я»
            p.subtitle  2 тренинговых дня, 16 астрономических рабочих часов.
            .popup__bottom__blockquote
               +svg('quotes')
               p  «По жизни тебя ведет заключенное в тебе веселое призрачное существо, полное жажды познания, которое и есть твое истинное «Я». Никогда не отворачивайся от возможного будущего, пока не убедишься, что тебе в нем нечему научиться».
               span  Ричард Бах «Иллюзии»
            .popup__bottom__problems
               p
                  span  Поиск индивидуальной стратегии выхода из тупиковых ситуаций:
                  |  исследование собственных эффективных стратегий выбора, принятия верных решений и быстрого обучения; танец «Получахи»; системный SCORE; выход «из затыка» и т. д.
               p
                  span  Живые динамики моего лидерства во взаимоотношениях:
                  |  Лидер, взаимодействующий с самим собой. Я и мой собственный внутренний Лидер (микро-лидерство). Контексты: постановка и достижение целей, внутренняя гармония, согласованность с самим собой, искренность с самим собой, построение взаимоотношений с самим собой.
               p
                  span  Моделирование будущего и экспансия могущества:
                  |  техника «Зеркало Будущего»; внутренняя сила – техника «Центровка»; модель Уолта Диснея; техника «Сущностная трансформация»; медитативные практики; танцевально-двигательные технологии.
            .popup__bottom__result
               p.title  Ожидаемый результат 2 цикла:
               ul
                  li быстрый выход из любых тупиковых жизненных ситуаций;
                  li знание и понимание системных законов;
                  li ясное видение собственного будущего;
                  li знание и понимание собственных эффективных стратегий: выбора, достижения целей,
                  li обучения, построения взаимоотношений в различных контекстах жизни;
                  li овладение базовыми навыками проектирования собственной судьбы и создания нового будущего
         .popup__links
            a(href="javascript:void(0)",data-visible="three-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 3
            a(href="javascript:void(0)",data-visible="two-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 2
      .two-block.block.js-block(data-visible="two-block")
         .popup__top
            +svg('time')
            span  Цикл 2
            .js-close
               +svg('cl')
            a(href="javascript:void(0)").check-in.js-popup-check  Оставить заявку
            .popup__top__price
               +svg('money')
               p  3500
                  span  рублей
         .popup__bottom
            p.title  «Совершенствование Мастерства моего Я»
            p.subtitle  2 тренинговых дня, 16 астрономических рабочих часов.
            .popup__bottom__blockquote
               +svg('quotes')
               p  «По жизни тебя ведет заключенное в тебе веселое призрачное существо, полное жажды познания, которое и есть твое истинное «Я». Никогда не отворачивайся от возможного будущего, пока не убедишься, что тебе в нем нечему научиться».
               span  Ричард Бах «Иллюзии»
            .popup__bottom__problems
               p
                  span  Поиск индивидуальной стратегии выхода из тупиковых ситуаций:
                  |  исследование собственных эффективных стратегий выбора, принятия верных решений и быстрого обучения; танец «Получахи»; системный SCORE; выход «из затыка» и т. д.
               p
                  span  Живые динамики моего лидерства во взаимоотношениях:
                  |  Лидер, взаимодействующий с самим собой. Я и мой собственный внутренний Лидер (микро-лидерство). Контексты: постановка и достижение целей, внутренняя гармония, согласованность с самим собой, искренность с самим собой, построение взаимоотношений с самим собой.
               p
                  span  Моделирование будущего и экспансия могущества:
                  |  техника «Зеркало Будущего»; внутренняя сила – техника «Центровка»; модель Уолта Диснея; техника «Сущностная трансформация»; медитативные практики; танцевально-двигательные технологии.
            .popup__bottom__result
               p.title  Ожидаемый результат 2 цикла:
               ul
                  li быстрый выход из любых тупиковых жизненных ситуаций;
                  li знание и понимание системных законов;
                  li ясное видение собственного будущего;
                  li знание и понимание собственных эффективных стратегий: выбора, достижения целей,
                  li обучения, построения взаимоотношений в различных контекстах жизни;
                  li овладение базовыми навыками проектирования собственной судьбы и создания нового будущего
         .popup__links
            a(href="javascript:void(0)",data-visible="one-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 1
            a(href="javascript:void(0)",data-visible="three-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 3

      .three-block.block.js-block(data-visible="three-block")
         .popup__top
            +svg('time')
            span  Цикл 3
            .js-close
               +svg('cl')
            a(href="javascript:void(0)").check-in.js-popup-check  Оставить заявку
            .popup__top__price
               +svg('money')
               p  3500
                  span  рублей
         .popup__bottom
            p.title  «Совершенствование Мастерства моего Я»
            p.subtitle  2 тренинговых дня, 16 астрономических рабочих часов.
            .popup__bottom__blockquote
               +svg('quotes')
               p  «По жизни тебя ведет заключенное в тебе веселое призрачное существо, полное жажды познания, которое и есть твое истинное «Я». Никогда не отворачивайся от возможного будущего, пока не убедишься, что тебе в нем нечему научиться».
               span  Ричард Бах «Иллюзии»
            .popup__bottom__problems
               p
                  span  Поиск индивидуальной стратегии выхода из тупиковых ситуаций:
                  |  исследование собственных эффективных стратегий выбора, принятия верных решений и быстрого обучения; танец «Получахи»; системный SCORE; выход «из затыка» и т. д.
               p
                  span  Живые динамики моего лидерства во взаимоотношениях:
                  |  Лидер, взаимодействующий с самим собой. Я и мой собственный внутренний Лидер (микро-лидерство). Контексты: постановка и достижение целей, внутренняя гармония, согласованность с самим собой, искренность с самим собой, построение взаимоотношений с самим собой.
               p
                  span  Моделирование будущего и экспансия могущества:
                  |  техника «Зеркало Будущего»; внутренняя сила – техника «Центровка»; модель Уолта Диснея; техника «Сущностная трансформация»; медитативные практики; танцевально-двигательные технологии.
            .popup__bottom__result
               p.title  Ожидаемый результат 2 цикла:
               ul
                  li быстрый выход из любых тупиковых жизненных ситуаций;
                  li знание и понимание системных законов;
                  li ясное видение собственного будущего;
                  li знание и понимание собственных эффективных стратегий: выбора, достижения целей,
                  li обучения, построения взаимоотношений в различных контекстах жизни;
                  li овладение базовыми навыками проектирования собственной судьбы и создания нового будущего
         .popup__links
            a(href="javascript:void(0)",data-visible="two-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 2
            a(href="javascript:void(0)",data-visible="one-block").js-view-popup
               +svg('prev-popup')
               span  Цикл 1