mixin reviews()
   .reviews
      p.title  Отзывы о мастер-классе
      p.subtitle  Полная свобода
      .reviews__list.js-reviews
         .reviews__list__item
            .reviews__list__item__video
               <iframe width="850" height="480" src="https://www.youtube.com/embed/hB0PfSz-y5c" frameborder="0" allowfullscreen></iframe>
            .reviews__list__item__video-title
               p  Френк Пьюселик
               p  Генеральный директор ООО «Рога & Копыта»
         .reviews__list__item
            .reviews__list__item__video
               <iframe width="850" height="480" src="https://www.youtube.com/embed/hB0PfSz-y5c" frameborder="0" allowfullscreen></iframe>
